<!DOCTYPE html>
<html>
  <body>
    <h1>Raspberry Pi "Sensor" API</h1>
    <strong>Disk usage</strong><br />
    <a href="/disk/usage">Current disk usage in percent</a><br />
    <br />
    <strong>CPU temp</strong><br />
    <a href="/cpu/temp">Current CPU temperature in Celsius</a><br />
    <br />
    <strong>CPU temp error</strong><br />
    <a href="/cpu/temp/error"
      >Return "too hot" if the temperature is over 60 degree Celsius, else
      return "fine"</a
    ><br />
    <br />
  </body>
</html>
